body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
main{
    display: grid;
    grid-template-areas: 
    "img1" 
    "img2" 
    "img3"
    "img4"
    "img5"
    "img6";
}
img{
    margin: 1rem;
    cursor: pointer;
    max-width: 100vw;
}
img:nth-child(1){
    grid-area: img1;
}
img:nth-child(2){
    grid-area: img2;
}
img:nth-child(3){
    grid-area: img3;
}
img:nth-child(4){
    grid-area: img4;
}
img:nth-child(5){
    grid-area: img5;
}
img:nth-child(6){
    grid-area: img6;
}

div
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: hsla(0, 0%, 0%, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@media only screen and (min-width: 750px)
{
    main
    {
        grid-template-areas: 
        "img1 img2 img3"
        "img4 img5 img6";
    }
}