*
{
    margin: 0;
    padding: 0;
}

:root
{
    --main-hue: 209;
    --main2-hue: 37;

    --main-color: hsl(var(--main-hue), 75%, 65%);
    --light-main-color: hsl(var(--main-hue), 65%, 80%);
    --dark-main-color: hsl(var(--main-hue), 88%, 48%);
    --dark-gray-color: hsl(var(--main2-hue), 0%, 45%);
    --light-gray-color: hsl(var(--main2-hue), 2%, 85%);

}

html
{
    height: 100vh;
    background-color: var(--main-color);
}
/* 
.N
{
    height: 150px;
} */
@keyframes type
{ 
        0%   
        { 
            transform: translateX(350%); 		
        }
        100%
        { 
            transform: translateX(0%); 
        }
} 
header h1
{
    overflow-x: hidden;
    margin: auto; 
    letter-spacing: .15em; 
    animation:  type 2s;
}
.Banner
{
    overflow-x: hidden;
    grid-area: banner;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color:   var(--light-main-color);
}

.content
{
    grid-area: contentBox;
    background-color:   var(--main-color);

    display: grid;
    height: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr;
    grid-template-areas: 
    "HT1"
    "texts1"
    "HT2"
    "texts2"
    "HT3"
    "texts3"
    "HT4"
    "texts4";
        
}

.headline1, .headline2, .headline3, .headline4
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline1
{
    grid-area: HT1;
}
.headline2
{
    grid-area: HT2;
}
.headline3
{
    grid-area: HT3;
}
.headline4
{
    grid-area: HT4;
}

.text1, .text2, .text3, .text4
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.text1
{
    grid-area: texts1;
    
}
.text2
{
    grid-area: texts2;
}
.text3
{
    grid-area: texts3;
}
.text4
{
    grid-area: texts4;
}

.menu1
{
    grid-area: menuNav;
    background-color:   var(--dark-gray-color)
}

.fot
{
    grid-area: Fot;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-gray-color);
    background-color:   var(--dark-gray-color)
}

.InfoBox
{
    grid-area: Info;
    display: none;
    background-color:   var(--light-main-color)
}

/*Mobil version*/
.Container
{
    display: grid;
    height: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 40px 2fr 40px;
    grid-template-areas: 
        "banner"
        "menuNav"
        "contentBox"
        "Fot";

}

/*Mobil nav*/
.check
{
    width: 50px;
    height: 40px;
    position: absolute;
    top: 170px;
    opacity: 00%;
    left: 10px;
    z-index: 1000;
}

.icon
{
    width: 40px;
    height: 6px;
    background-color: black;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
    top: 0px;
    left: 10px;
    z-index: 10;
    margin: 4px;

}

.check:checked ~ .line1
{
    opacity: 0%;
}


.check:checked ~ .line2
{
    transform: rotate(40deg);
}
.check:checked ~ .line3
{
    transform: translateY(-13px) rotate(140deg);
    
}

.Check:checked ~ul
{
    display: flex;
    transform: translateX(0%);
    transition: transform 0.5s;
}

ul
{
    display: flex;
    list-style: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    opacity: 90%;
    position: absolute;
    top: 0%;
    z-index: 2;
    background-color: hsl(209, 30%, 60%);
    transform: translateX(-100%);
    
}

ul li
{
    padding: 20px;
}
li a
{
    color: hsl(209, 10%, 100%);
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
}





/*Computer version*/
@media only screen and (min-width: 500px)
{

    .InfoBox
    {
        grid-area: Info;
        display: block;
        margin: 5px;
        border: 2px solid black;
        background-color:   var(--light-main-color)
    }

    .Container
    {
        display: grid;
        height: 100%;

        grid-template-columns: 1.5fr 2fr 3fr;
        grid-template-rows: 1fr 40px 1fr 1fr 1fr 1fr 40px;
        grid-template-areas: 
            "banner banner banner"
            "menuNav menuNav menuNav"
            "Info contentBox contentBox"
            "Info contentBox contentBox"
            "Info contentBox contentBox"
            "Info contentBox contentBox"
            "Fot Fot Fot";

    }

    /*nav computer*/
    
    .icon, .Check
    {
        display: none;
    }


    ul
    {
        display: flex;
        width: auto;
        height: 40px;
        opacity: 100%;
        flex-direction: row;
        align-content: center;
        justify-content: left;
        background-color: none;
        position: relative;
        z-index: 2;
        transform: translateX(0%);
        border: 1px solid black;
        
    }

    li a
    {
        color: hsl(209, 10%, 100%);
        text-decoration: none;
        font-size: 1rem;
        display: flex;
        align-content: center;
        margin-right: 15px;
        justify-content: center;
    }

    ul li
    {
        display: inline;
        align-content: center;
        justify-content: center;
        padding: 0px;
        margin: 10px;
        
    }
    nav ul li
    {
        display: block;
        border-right: 1px solid black;
        

    }
    ul li:last-child
    {
        border-right: none;
    }
    /* ---------- */

    .content
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr 1fr;
        grid-template-areas: 
        "HT1 HT2"
        "texts1 texts2"
        "HT3 HT4"
        "texts3 texts4";

        /* margin: 25px; */
    }
    
    /* .headline1, .headline2, .headline3, .headline4
    {
        display: flex;
        justify-content: center;
        align-items: center;
        
    } */



}

