@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Ubuntu&display=swap');

$color-bg-main: hsl(39, 58%, 95%);
$color-bg-nav: hsl(0, 60%, 34%);
$color-font-side-nav: hsl(0, 20%, 14%);
$neon-color1: hsl(0, 20%, 14%);
$neon-color2: hsl(0, 90%, 54%);

$font-main: 'PT Sans Narrow', Helvetica, Arial, Sans-serif;
$font-heading: 'Ubuntu', Helvetica, Arial, Sans-serif;

@mixin calculateWidthProducts($columns, $margin)
{
    width: (100% - (($columns - 1) * $margin)) / $columns;

    &:nth-child(n)
    {
        margin-right: $margin;
        margin-bottom: $margin;
    }

    &:nth-child(#{$columns}n)
    {
        margin-right: 0;
    }
}

*
{
    margin: 0;
    padding: 0;
}


body
{
    width: 80%;
    font-family: $font-main;
    background-color: $color-bg-main;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.side
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 190px;
    position: fixed;
    padding: 10px;
    top: 50px;
    background-color: white;
    
}

.top
{
    background-image: linear-gradient(scale-color($color-bg-nav, $lightness:50%), $color-bg-nav);
    color: $color-bg-main;
    width: inherit;
    height: 50px;
    position: fixed;
    z-index: 10;
    
}



footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex: 1 1 100%;
    border-top: 1px solid $color-font-side-nav;
    padding-top: 8vh;
}