.menu
{
    background-color: #333;
}
    
.menu ul
{
    display: flex;
    justify-content: center;
}
li
{
    list-style: none;
}
.menu a
{

    display: block;
    
    padding: 1rem;
    
    text-decoration: none;
    
    color: #fff;
    
    font-size: 1.6rem;
    
}


.menu-button 
{

    width: 50px;
    
    height: 50px;
    
    display: none;
    
    font-size: 1.2rem;
    
    background: #333 url(menu-white-18dp.svg) no-repeat center;
    
}

/*---- dark theme ----*/



.dark-mode 
{
    background-color: black;
    color: white;

}
.Dark-them-slider
{
    width: 50px;
    height: 50px;
    background-color: blue;
}

/* for fun */


.switch 
{
    right: 0px;
    width: 50px;
    top: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
  
.switch div
{
    position: relative;
    display: block;
    background: #eee;
    width: 50px;
    border-radius: 50px;
    padding: 0 15px;
    box-sizing: border-box;
    cursor: pointer;
}
  
  .fa-adjust
{
    transform: rotate(180deg);
}
  
.switch input 
{
    display: none;
}
  
.slider 
{
    background-color: #999;
    transition: 0.4s;
    border-radius: 34px;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: relative;
}
  
input:checked + .slider 
{
    transform: translateX(-10px);
}




/*---------------*/

@media(max-width: 800px)
{
    .menu-button
    {
        display: block;
    }
    .menu
    {
        height: 100vh;
        padding: 2rem 4rem;
        top: 50px;
        left: 0px;
        transition: transform .3s;
        transform: translate(-110%);
    }
    .menu ul
    {
        flex-direction: column;
    }
    .show
    {
        transition: transform .3s;
        transform: translate(0%);
    }
    .menu-button:hover + .menu
    {
        will-change: transform;
    }
    .switch
    {
        top: 0rem;
    }
}



