
*
{
    margin: 0px;
    padding: 0px;
}
/*have done a few adjustment on the colors becuese the did not look so good once they where on the web page*/
:root
{
    --main-hue: 211;
    --main2-hue: 38;

    --main-color: hsl(var(--main-hue), 46%, 77%);
    --light-main-color: hsl(var(--main-hue), 36%, 80%);
    --dark-main-color: hsl(var(--main-hue), 56%, 37%);
    --dark-gray-color: hsl(var(--main2-hue), 3%, 18%);
    --mini-dark-gray-color: hsl(var(--main2-hue), 3%, 23%);
    --light-color: hsl(var(--main2-hue), 0%, 91%);
    --black-color: hsl(var(--main2-hue), 3%, 5%);
}



html
{
    width: 100vw;
    height: 100vh;
    font-family: 'Noticia Text', serif;
    overflow-x: hidden;
    background-color: var(--main-color);
    color: var(--black-color);
    font-size: 1rem;
}
a
{
    color: var(--dark-gray-color);
}
.ImgCar
{
    display: none;
}
h1
{
    font-family: 'Lato', sans-serif;
}



a:hover
{
    color: var(--dark-main-color);
}
/* introduktionsteksten Area */

.mainItem2 
{
    
    width: 100%;
    display: flex;
    padding: 10px 0px 0px 40px;
}
.mainItem2 h1,.mainItem2 p
{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.mainItem2 h1
{
    font-size: 1.5rem;
}
/*Blog link area*/

.mainItem3
{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    
}

.mainItem3 a, .mainItem3 img
{
    margin: 20px 0px 20px 0px;
}


/*header banner img*/

header
{
    width: 100%;
    
}
.headImg
{
    display: none;
}



/*Grid*/

/*main grids item*/
.mainItem1
{
    grid-area: gridCar;
    width: 100%;
}
.mainItem2
{
    grid-area: gridInfo;
}
.mainItem3
{
    grid-area: gridBlog-link;
}

/*items for container*/
.Item1
{
    grid-area: gridHead;
}
.Item2
{
    grid-area: gridMain;
    display: grid;
    height: 100%;
    width: 100%;
    
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0.1fr 1fr;
    grid-template-areas:
    "gridCar"
    "gridInfo"
    "gridBlog-link";
}
.Item3
{
    grid-area: gridFoot;
}


.Container
{
    display: grid;
    height: 100%;
    width: 100%;
    
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas: 
        "gridHead"
        "gridMain"
        "gridFoot";
}


/*Footer*/

footer, .Phone, .Mail, .Open, .Insta
{
    background-color: var(--dark-gray-color);
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    color: var(--light-color);
    font-size: 0.8rem;
}
footer
{
    width: 100%;
}



.Insta a
{
    text-decoration: none;
    color: var(--light-main-color);
}

footer p, footer h4, footer a
{
    align-self: center;
}
footer img
{
    height: 30px;
}

.Open
{
    display: none;
}


/*Hamburger menu Styling*/

.navImg
{
    background-color: var(--mini-dark-gray-color);
    border-radius: 100%;
    
}


nav ul
{
    display: flex;
    list-style: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 90%;
    position: absolute;
    top: 0px;
    z-index: 2;
    background-color: var(--dark-gray-color);
    transform: translateX(-100%);
    
    
}

.check
{
    width: 50px;
    height: 40px;
    position: absolute;
    top: 10px;
    opacity: 0%;
    left: 10px;
    z-index: 1000;
}

.icon
{
    width: 40px;
    height: 6px;
    background-color: black;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 20;
    margin: 5px;

}

.check:checked ~ .line1
{
    opacity: 0%;
}


.check:checked ~ .line2
{
    transform: rotate(40deg);
}
.check:checked ~ .line3
{
    transform: translateY(-13px) rotate(140deg);
    
}

.check:checked ~nav ul
{
    display: flex;
    transform: translateX(0%);
    transition: transform 0.5s;
}


nav ul li
{
    padding: 8px;
}
nav li a
{
    color: hsl(209, 10%, 100%);
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    
}


/*-----*/




@media only screen and (min-width: 600px)
{

    /*grid*/
    html
    {
        font-size: 1.2rem;
    }
    
    .Container
    {
        display: grid;
        height: 100%;
        width: 100%;
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "gridHead gridHead gridHead gridHead"
            "gridMain gridMain gridMain gridMain"
            "gridFoot gridFoot gridFoot gridFoot";
    }

    .Item2
    {
        grid-area: gridMain;
        display: grid;
        height: 100%;
        width: 100%;
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.25fr 0.1fr 1fr;
        grid-template-areas:
        "gridCar gridCar gridCar gridCar"
        "gridInfo gridInfo gridInfo gridInfo"
        "gridBlog-link gridBlog-link gridBlog-link gridBlog-link";
    }

    
    /*header*/
    .headImg
    {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .navImg
    {
        display: none;
    }

    /*Blog link area*/

    .mainItem3
    {
        display: flex;
        align-content: center;
        justify-content: left;
        padding-left: 40px;
        margin: 20px;
    }
    .mainItem3 a, .mainItem3 img
    {
        display: flex;
        margin: 20px 20px 20px 0px;
        background-color: var(--light-main-color);
        height: 400px;
    }
    .mainItem3 a{align-items: center;}
    .mainItem3 img{width: 500px;}
    .mainItem3 article
    {
        width: 100%;
    }
    
    
    /*Footer*/
    .Open
    {
        display: flex;
    }

    /*img car*/

    .mainItem1
    {
        display: block;
    }

    .ImgCar
    {
        display: block;
        max-width: 100%;
        transform: translateX(100%);
        position: absolute;
        transition: 1s;
        opacity: 0;
    }
    .left
    {
        transform: translateX(-100%);
        z-index: 2;
        opacity: 0;
    }
    .center
    {
        transform: translateX(0);
        z-index: 3;
        opacity: 1;
    }
    aside
    {
        display: flex;
        width: 100%;
        justify-content: center;
        position: fixed;
        z-index: 4;
        bottom: 0;
    }
    /* div{
        margin: 0.5rem;
        width: 25px;
        height: 25px;
        background-color: hsl(0, 0%, 70%);
        border-radius: 25px; 
    }*/
    /* .picket{
         background-color: hsl(0, 0%, 42%);
    } */




    /*-------------- nav -----------*/
    .icon, .check
    {
        display: none;
        opacity: 0%;
    }




    nav ul
    {
        display: flex;
        width: auto;
        height: 40px;
        opacity: 100%;
        flex-direction: row;
        align-content: center;
        justify-content: left;
        
        position: relative;
        z-index: 2;
        transform: translateX(0%);
        border: 1px solid black;
        
    }

    nav li a
    {
        color: hsl(209, 10%, 100%);
        text-decoration: none;
        font-size: 1rem;
        display: flex;
        align-content: center;
        margin-right: 10px;
        justify-content: center;
    }

    ul li
    {
        display: inline;
        align-content: center;
        justify-content: center;
        margin: 5px;
        
    }
    nav ul li
    {
        display: block;
        border-right: 1px solid white;
        

    }
    ul li:last-child
    {
        border-right: none;
    }    

}